
/*Universal selectors*/
/*App*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #5a639c;
  --accent: #45474b;
  --bg: #102C57;
  --secondary: #fff;
  --main: #000;
  --alternative: gold;
}

body {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary);
  background: linear-gradient(to bottom,#7B3F00,  #d1691d, #ff5349);

}

section{
  scroll-margin: 5rem;
}

nav {
  padding: 30px;
background: linear-gradient(to top, #7B3F00,  #d1691d, #ff5349);
}

nav a {
  font-weight: bold;
  color: var(--secondary);
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-link {

   color: var(--secondary)
}

nav a.router-link-exact-active {
  color: var(--alternative);
}

:is(.wrapper) {
  display: grid;
  grid-template-rows: auto minmax(100dvh, 100%) auto;
}

.bg-img{

  background-image: url(https://joshua-langeveldt.github.io/images/images/Randoms/scenary.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity:1;
  margin-left:0%;
}

/*Universal selectors*/
img {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

.max-height {
  height: 100vh;

  & h2{
    margin-top: 4rem;
    text-align: center;
    color: var(--secondary);
  }

}

.card{
    width: 18rem;
}

/*landing page*/
.landing-title {
  font-size: 4rem;
  color: var(--secondary);
  margin-bottom: rem;
  margin-top: 25rem;
  margin-right: 15rem;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
    transition: all .5s;
 
    &:hover {
        transform: scale(1.2);
        font-weight:bolder;
        color: gold;
    }
}

.landing-text {
  text-align:end;
  color: var(--secondary);
  margin-left: -21rem;
  margin-top: -10rem;
  margin-bottom: 15rem;

}

/* img[alt=""] {
  width: 18rem;
  border-radius: 15%;
  border: 2px solid white;
  margin-top: -5rem;
  margin-left: -40%;
  margin-bottom: 6rem;
} */

@media (width < 426px) {
  #landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    text-align: center;
  }




  .landing-text {
    margin-top: 1rem;
  }
}

@media (max-width: 769px) and (min-width: 426px) {
  #landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    text-align: center;

    & .landing-title {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
      }
  }

  .landing-text{
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
}
/*landing page*/

/*Custom variables*/

/*logo*/
img[alt="logo"] {
  width: 5rem;
  border-radius: 15%;
}


/*Rotating Card*/
.rotating-div {
  width: 300px;
  height: 350px;
  position: relative;
  perspective: 1000px;
  animation: rotate 5s infinite alternate;
  left: 20%;
  top: 10%;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  top: -150%;
  border-radius: 30px;
  box-shadow: 6px 3px 4px rgb(53, 53, 52);


}

.card img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;


}

@keyframes rotate {
  0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(180deg);
  }
}


/*Start Of About Page */

/* About Styling */ 

.about-page {
  margin-top: -14.5rem;
  margin-left: 4rem;
  color: var(--secondary);
     font-family: "Italiana", sans-serif;
     font-weight: 300;
     padding: 5px;
     height: 100px;
     width: 40%;
     font-size: 1.5rem;
     transition: all .5s;
      
     &:hover {
         transform: scale(1.2);
         color: #102C57;
     }
  } 

  .main-heading{

    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    }

  
  
  
  /* flipCard Styling*/
  
  img[alt='flipCard'] {
   border-radius: 50px;
  border: 3px solid #FFEBB2;
  width: 300px;
  height: 300px;
  
  }
  
  /* The flip card container - (remove perspective if you don't want the 3D effect) */
  .flip-card {
      background-color: transparent;
      position: absolute;
      width: 300px;
      height: 300px;
      perspective: 1000px;
      left: 65%;
      top: 180%;
    }
    
    /* This container is needed to position the front and back side */
    .flip-card-inner {
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip  */
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      border-radius: 50px;
    }
    
    /* Style the front side */
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    /* Style the back side */
    .flip-card-back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    } 